@model Dziennik_MVC.Models.Entities.Groups

@{
    ViewBag.Title = "Usuwanie grupy";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm()) {
<fieldset>
    <legend>Usuwanie grupy</legend>
    <p></p>
    <div class="display-label">Nazwa Grupy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>
    <input type="submit" value="Usuń" /> 
</fieldset>
}
    <p>
        
        @Html.ActionLink("Lista grup", "List")
    </p>

