@model Dziennik_MVC.Models.Entities.Przedmioty

@{
    ViewBag.Title = "Usuwanie Studenta";

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm()) {
<fieldset>
    <legend>Usuń przedmiot</legend>
    
    <div>
        @Html.LabelFor(model => model.nazwa_przedmiotu)
        @Html.TextBoxFor(model => model.nazwa_przedmiotu, new { disabled = "disabled" })
    </div>

    <input type="submit" value="Usuń" /> 
</fieldset>
}
    <p>        
        @Html.ActionLink("powrót do listy przedmiotów", "List")
    </p>
