@model Dziennik_MVC.Models.Entities.Grupy

@{
    ViewBag.Title = "Usuwanie grupy";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm()) {
<fieldset>
    <legend>Usuwanie grupy</legend>
    <p></p>
     <div>
        @Html.LabelFor(model => model.nazwa_grupy)
        @Html.TextBoxFor(model => model.nazwa_grupy, new { disabled = "disabled" })
    </div>
    <input type="submit" value="Usuń" /> 
</fieldset>
}
    <p>        
        @Html.ActionLink("powrót do listy grup", "List")
    </p>

